*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /*primary*/
    --light-red: hsl(356, 100%, 66%);
    --vlight-red: hsl(355, 100%, 74%);
    --vdark-blue: hsl(208, 49%, 24%);

    /*neutral*/
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --vdark-grayish-blue: hsl(207, 13%, 34%);
    --black-blue: hsl(240, 10%, 16%);

    /*gradient*/
    /*Background gradient - Intro/CTA mobile nav:*/
    --bg-vlight-red: hsl(13, 100%, 72%);
    --bg-light-red: hsl(353, 100%, 62%);

    /*Background gradient - body:*/
    --vdark-gray-blue: hsl(237, 17%, 21%);
    --vdark-desat-blue: hsl(237, 23%, 32%);

}

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    
}

header {
    background-color: var(--bg-light-red);
    border-bottom-left-radius: 50px;
    background-image: url("./images/bg-pattern-intro-mobile.svg");
    background-size: 70em;
    background-position: 35% 35%;
    padding: 1rem;
}

a {
    text-decoration: none;
    
}

a, button {
    font-family: 'Ubuntu', sans-serif;
}

.nav {
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.hamburger {
    position: absolute;
    right: 0;
    top: 12px;
}

.close {
    position: absolute;
    right: 0;
    top: 10px;
    display: none;
}

.nav-list {
    background-color: var(--white);
    padding: 1rem;
    position: absolute;
    top: 50px;
    width: 100%;
    border-radius: 5px;
    display: none;
}

.nav-list li,
.footer-nav li {
    list-style: none;
    margin-bottom: 1em;
}

.dropbtn {
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--white);
    margin: 0;
}

.dropbtn svg {
    stroke: #FF7B86;
}

.dropbtn:hover {
    text-decoration: underline;
}

.dropdown {
    padding: 1em;
}

.dropdown:hover svg {
    transform: rotate(0.5turn)
}

.sub-menu {
    display: none;
    background-color: var(--grayish-blue);
    margin-top: 1em;
    padding: .5em;
}

.dropdown:hover .sub-menu {
    display: block;
}


.dropdown svg {
    margin-left: .5em;
}

.sub-menu a {
    display: block;
    color: var(--black-blue);
    margin: 1em 0;
    text-align: center;
}

.sub-menu a:hover {
    font-weight: bold;
}

.login-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--grayish-blue);
    margin-top: 1rem;
}

.login {
    margin: 2em 0;
    color: black;
}

.signup {
    padding: .8em 2.5em;
    background: linear-gradient(to right, var(--bg-vlight-red), var(--bg-light-red));
    border-radius: 20px;
    color: var(--white);
}

.signup:hover,
.signup:focus {
    background: var(--vlight-red);
}

.hero {
    margin: 5rem 1rem;
    color: var(--white);
    padding: 0;
}

.hero-title {
    margin: 0;
    text-align: center;
    line-height: 1.3;
}

.hero-description {
    text-align: center;
}

.cta {
    margin: 3rem auto 0;
    display: flex;
    justify-content: space-evenly;
}

.cta-start {
    background-color: var(--white);
    color: var(--light-red);
}

.cta-learn {
    border: 1px solid var(--white);
    color: var(--white);
}

.cta-learn,
.cta-start {
    border-radius: 20px;
    padding: 1em;
}

.cta-start:hover, 
.cta-start:focus {
    background: var(--vlight-red);
    color: var(--white);
}

.cta-learn:hover, 
.cta-learn:focus {
    background: var(--white);
    color: var(--vlight-red);
}

/** main */

main {
    padding: 0;
}

.subtitle {
    text-align: center;
    margin: 3em 0 1em;
}

.illustration {
    width: 100%;
    min-height: 30vh;
    margin: 0 auto;
}

.editor {
    background-image: url("./images/illustration-editor-mobile.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}


.mobile-svg {
    background-image: url("./images/illustration-phones.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 50%;
    min-height: 50vh;
    position: absolute;
    top: -40%;
    left: 25%;
}

.content {
    color: var(--vdark-grayish-blue);
    text-align: center;
    line-height: 1.7;
}

.content h2 {
    margin: 0 auto;
    max-width: 80%;
    padding: 0;
}

.content p, .content div p {
    margin: 1em auto 3em;
    max-width: 90%;
}

.white {
    background-color: var(--white);
}

.mobile-section {
    margin: 10rem 0 2rem;
    position: relative;
}

.mid-column {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: var(--vdark-gray-blue);
    padding: 8em 0 3em 0;
    background-image: url("./images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -10px -180px;
}

.mobile-section h2, .mobile-section p{
    color: var(--white) !important; 
}

.desktop {
    background-image: url("./images/illustration-laptop-mobile.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    background-color: var(--black-blue);
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.footer-nav {
    padding: 0;
    margin: 2em 0;
}

.footer-nav p {
    color: var(--white);
    text-align: center;
}

.footer-nav div {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 2em;

}

.footer-nav div a {
    color:var(--grayish-blue);
    text-align: center;
    margin: .2em 0;
}

@media only screen and (min-width: 700px) {
    header {
        /*background-color: var(--vlight-red);*/
        border-bottom-left-radius: 50px;
        background-image: url("./images/bg-pattern-intro-desktop.svg");
        background-size: 120em;
        background-position: 20% 50%;
    }

    .nav {
        align-items: flex-start;
        padding-left: 2.5rem;
    }

    .nav > svg {
        min-width: 18%;
    } 

    .hamburger,
    .close {
        display: none !important;
    }
    
    .nav-list {
        background-color: unset;
        position: unset;
        top: unset;
        border-radius: unset;
        display: flex !important;
        width: 80%;
        margin: 0;
        padding: 0;       
    }

    .nav-list ul {
        display: flex;
        padding: 0;
        margin: 0;      
    }

    .dropdown {
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;

    }

    .dropbtn {
        padding: 1em;
        background-color: unset;
        color: white;
    }

    .dropbtn svg {
        stroke: var(--white);
    }

    .sub-menu {
        position: absolute;
        background-color: var(--white);
        margin-top: 1em;
        padding: 1rem 2rem;
        top: 25px;
        left: -2px;
    }

    .dropdown:hover .sub-menu {
        display: block;
    }

    .login-block {
        flex-direction: row;
        border-top: unset;      
        padding: 0;
        margin: 0 0 0 auto;
        
    }

    .login {
        margin: 0 1em;
        color: black;
    }
    
    .signup {
        padding: .2em 1em;
        margin: 0 1em;
        border-radius: 20px;
        background: var(--white);
        color: var(--bg-light-red);
    }

    .signup:hover, 
    .signup:focus,
    .login:hover,
    .login:focus {
        color: var(--white);
    }

    .cta {
        justify-content: center;
    }

    .cta-start {
        margin-right: .5em;
    }

    br {
        display: none;
    }

    section {
        display: flex; 
    }

    .content {
       text-align: left;
       flex: 1 1 80%;
       margin: 3em 0;
    }

    .content h2 {
        margin: 0 0 0 2.6em;
        padding: 0;
    }
    
    .content p, .content div p {
        margin: 1em 0 3em 4em;
    }

    .editor {
        order: 1;
    }

    .editor {
        background-image: url("./images/illustration-editor-desktop.svg");
        background-position: 200px 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .desktop {
        background-image: url("./images/illustration-laptop-desktop.svg");
        background-position: -200px 50%;
        background-repeat: no-repeat;
        background-size: contain;
 
    }


    .mobile-section {
        display: flex;
    }


    .mobile-svg {
        width: 50%;
        min-height: 80vh;
        top: -5%;
        left: -5%;
    }

    .mid-column {
        padding: 5em 0 3em 0;
        margin: 3em 0;
        background-image: url("./images/bg-pattern-circles.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -10px -180px;
    }

    .mid-column h2 {
        margin-left: auto;
        margin-right: 2em; 
        width: 40%;
    }

    .mid-column p {
        width: 40%;
        margin: 1em 3em 3em auto;
    }

    .third {
        flex-basis: 100%;
    }

    footer {
        flex-direction: row;
    }

    .footer-nav {
        display: flex;
        justify-content: space-around;
        border: 1px solid red;
        width: 70%;
        margin-left: 5em;
    }
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }